.DS_Store
make/*
eosbinary/*
build/*
.wast
.wasm
.OwnerKeys
.ActiveKeys
.Pass
.OwnerKeysJungle
.ActiveKeysJungle
.PassJungle
.PassIDEX
.PassMBAEX
.PassByzantine
.PassKylin
.OwnerKeysIDEX
.ActiveKeysIDEX
.ActiveKeysMBAEX
.OwnerKeysMBAEX
.OwnerKeysKylin
.ActiveKeysKylin
.vscode/*
projects/*
externals/*
libraries/*
contracts/exchange/*
projects/*
